*{
    position: relative;
    margin-top: -200px;
}

.forgot-main {
    position: absolute;
    width: 1470px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 36px;
    margin: 20px;
    top:-200px
}

.forgot-main h1 {
    position: absolute;
    color: inherit;
    padding-left: 50px;
    padding-top: 5px;
}

.forgot-btn {
    position: absolute;
    left: 20px;
    width: min-content;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    cursor: pointer;
}
/*---------------- */
.AiOutlineMail {
    height: 20px;
    width: 20px;
}

.Forgot-box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    border: 2px solid #707070;
    height: 700px;
    width: 1490px;
    margin-left: 10px;
    border-radius: 36px;
    margin-top:-120px;
}

.Forgot-hr-line {
    position: absolute;
    height: 1px;
    background-color: black;
    align-self: flex-start;
    margin-top: 80px;
    width: 95%;
}

.Forgot-title {
    align-self: flex-start;
    position: absolute;
    left: 30px;
    top: 30px;
    font-weight: bold;
}

.Forgot-search-box {
    position: relative;
    height: 50px;
    width: 500px;
    margin: 5px;
    margin-left: 1000px;
}

.Forgot-box-p {
    display: block;
    position: absolute;
    box-sizing: border-box;
    align-self: center;
    top: 15%;
    left: 60px;
    height: 60px;
    font-size: 30px;
}

.Forgot-p {
    position: relative;
    word-break: break-word;
    margin: 20px 0;
}
.Forgot-main{
    margin-top: -120px;
    height:fit-content;
    margin-left: 300px;
}
@media screen and (max-width:1000px) {
    .forgot-main {
        max-width: 365px;
        margin-left:0px;
        height :65px;
        margin-top: 10px;
    }
    .Forgot-main {
        max-width: 365px;
        margin-left: 117px
    }
    .Forgot-hr-line{
       top:1%
    }
    .Forgot-box-p{
        left: 10px;
    }
    
.Forgot-p
{
    font-size: 20px;
}
.forgot-main h1{
    padding-top: 10px;
    font-size: 20px;
}
.Forgot-title{
    left:10px;
    font-size: 20px;
}
    .Forgot-search-input {
        max-width: 380px;
    }

    .Forgot-box-container {
        max-width: 375px;
        margin-left: 1px;
    }
}