.header {
    width: 100vw;
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
}

.title {
    position: absolute;
    padding-left: 30px;
    margin-top: 20px;
    word-spacing: -6px;
}

.Username {
    position: absolute;
    margin-top: 20px;
    font-size: 30px;
    right: 0px;
}

@media screen and (max-width:992px) {
    .title {
        font-size: 20px;
        padding-left: 0px;
    }

    .Username {
        font-size: 20px;
        right: 0;
        margin-right: 0;
    }
}